################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.
/K1 Components/Angular/k1_components-app/.vscode
/K2 Events/Angular/k2_events-app/.vscode
